.deco-line-section {
    width: 100%;
    text-align: center;
  }
  
  .deco-line {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, #f0f0f0, #8c8c8c, #f0f0f0);
    margin-left: auto;
    margin-right: auto;
  }
  