.about-10 {
    border-bottom-width: 0;
}

.about-txt-10 {
    position: relative;
}

.about-txt-10 .section-heading-10 {
    margin-bottom: 72px;
}

.about-txt-10 p {
    font-size: 18px;
    line-height: 28px;
    color: var(--seventh-color);
    margin-bottom: 30px;
}

.about-txt-10 .btn-box {
    padding-top: 42px;
}

.about-txt-10 .name-vector {
    position: absolute;
    bottom: 50px;
    right: -165px;
    font-size: 100px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, .1);
    transform: rotate(-30deg);
    z-index: 0;
}

.about-img-10 {
    padding-left: 116px;
    position: relative;
}

.about-img-10 .svg-wrap {
    position: absolute;
    bottom: 85px;
    left: 0;
    width: 165px;
    z-index: 3;
}

.about-img-10 .svg-wrap svg {
    fill: #ffffff;
    height: auto;
    max-width: 66vmin;
    transform-origin: center;
    width: 100%;
    animation: spin 15s linear infinite;
    font-size: 14px;
}