.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px  225px 50px 225px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.navContainer.solidBg {
  background-color: gray /* Solid background color when scrolled */
}

.logo {
 position: absolute;
  left: 20px; /* Initially positioned a bit away from the corner */
  top: 10px;
  z-index: 1010;
  transition: left 0.3s ease; 
}

.logoImg {
  max-width: 120px;
  height: auto;
}

.hamburger {
  display: none; /* Hidden by default */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30px;
  height: 25px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  z-index: 1000;
}

.hamburger.solidBg {
  background-color: gray; /* Solid background color when scrolled */
}

.line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.navLinks {
  display: flex;
  gap: 20px; /* Spacing between link items */
  color: whitesmoke; /* Dark color for the links, replace with your preferred color */
  text-decoration: none; /* Remove underline from links */
}

.navLinks a {
  color: inherit; /* Ensure links inherit color from the parent container */
  text-decoration: none; /* Consistently remove underline */
}

.open .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
/* CSS */
.navbar {
  transition: background-color 0.3s ease;
}

.navbar.transparentBg {
  background-color: transparent;
}

.navbar.solidBg {
  background-color: gray;
}
.open .line:nth-child(2) {
  opacity: 0;
}
.solidBg {
  background-color: gray; /* Solid background color when scrolled */
}
.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}


@media (max-width: 768px)  {
  .navContainer {
    padding: 25px 100px; /* Reduced padding for small screens */
      justify-content: space-between; /* Align items to the left and right */
  }

  .logo {
      order: 1; /* Ensure logo stays on the left */
      margin-right: auto; /* Pushes all other elements to the right */
  }
  .logoImg {
    max-width: 100px; /* Set a specific max width to control size */
    height: auto; /* Maintain aspect ratio */
}
  .hamburger {
      display: block; /* Make hamburger visible */
      order: 2; /* Ensures that hamburger is on the right */
  }

  .navLinks, .socialLinks {
   /* Show the navigation and social links when menu is open */
   display: block;
   padding: 10px;
   text-align: center;
  }

  .navLinks.open, .socialLinks.open {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}