.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px  225px 50px 225px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.navContainer.solidBg {
  background-color: #333; /* Solid background color when scrolled */
}

.logo {
  display: flex;
  align-items: center;
}

.logoImg {
  max-width: 120px;
  height: auto;
}

.hamburger {
  display: none; /* Hide by default, will show on small screens */
  cursor: pointer;
  background-color: transparent; 
}

.hamburger.solidBg {
  background-color: #333; /* Solid background color when scrolled */
}

.line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

.navLinks {
  display: flex;
  gap: 20px; /* Spacing between link items */
  color: whitesmoke; /* Dark color for the links, replace with your preferred color */
  text-decoration: none; /* Remove underline from links */
}

.navLinks a {
  color: inherit; /* Ensure links inherit color from the parent container */
  text-decoration: none; /* Consistently remove underline */
}

@media (max-width: 1200px) {
  /* Display hamburger menu on screens smaller than 1200px */
  .hamburger {
      display: block;
  }

  .navLinks, .socialLinks {
      display: none;
  }

  .navLinks.open, .socialLinks.open {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}

@media (max-width: 768px) and (max-width: 1199px) {
  .navContainer {
    padding: 25px 100px; /* Reduced padding for small screens */
      justify-content: space-between; /* Align items to the left and right */
  }

  .logo {
      order: 1; /* Ensure logo stays on the left */
      margin-right: auto; /* Pushes all other elements to the right */
  }
  .logoImg {
    max-width: 100px; /* Set a specific max width to control size */
    height: auto; /* Maintain aspect ratio */
}
  .hamburger {
      display: block; /* Make hamburger visible */
      order: 2; /* Ensures that hamburger is on the right */
  }

  .navLinks, .socialLinks {
      display: none;
      width: 100%;
      text-align: center;
      margin-top: 10px;
  }

  .navLinks.open, .socialLinks.open {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}
